.home-logo {
    display: flex;
    justify-content: center;
    margin-top: 5em;
    cursor: pointer;
}

.details-container {
    display: flex;
    justify-content: center;
    // align-items: center;
    gap: 30px;
    margin-top: 5em;
    margin-bottom: 1em;
}

.details-img {
    border-radius: 10px;
}

.details-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #ffff;
}

.details-info-name {
    font-size: 5.0rem;
    color: #ffff;
    font-family: 'Poppins', sans-serif;
}

.details-info-other {
    font-size: 2.5rem;
    color: #ffff;
    font-family: 'Open Sans', sans-serif;
}

.details-status {
    display: flex;
    gap: 10px;
}

.alive {
    background-color: green;
    margin-top: 12px;
    width: 10px;
    height: 10px;
    border-radius: 50px;
}

.dead {
    background-color: red;
    margin-top: 12px;
    width: 10px;
    height: 10px;
    border-radius: 50px;
}

.unknown {
    background-color: grey;
    margin-top: 12px;
    width: 10px;
    height: 10px;
    border-radius: 50px;
}
