.ftr-bg {
    background-color: rgb(32, 35, 41);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 100px 0 100px 0;
}

.ftr-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: $textColor2;
    font-weight: 700;
    font-size: 1.5rem;
}

.ftr-2 {
    display: flex;
    gap: 20px;
}

.ftr-text {
    text-decoration: none;
    color: $textColor2;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

.ftr-text:hover {
    color: $hoverColor;
}

.server-status {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.server-light {
    background-color: rgb(0, 128, 0);
    margin-top: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50px;
}

.ftr-3 {
    display: flex;
    align-items: center;
    margin: 0 -5em 0 5em;
}

.ftr-img {
    width: 50%;
}

.ftr-4 {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

.ftr-5 {
    color: $textColor2;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.founder {
    text-decoration: none;
    color: #ffffff;
    padding: 0 5px 0 5px;
    font-family: 'Poppins', sans-serif;
}

.founder:hover {
    color: $hoverColor;
}

.twitter {
    width: 25%;
}