$textColor1: #ffff;
$textColor2: #9E9E9E;
$hoverColor: #FF9800;

html {
  font-size: 62.5%;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  background-color: #272B33;
}

@import "characterList";

@import "characterDetails";

@import "header";



